<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/products.css" />

<body>
  <div class="products-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Menu</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="restaurant-menu-frame">
      <div class="board">
        <div class="dishes-table">
          <span class="new-dish-txt" style="margin-bottom: 30px">
            List of Motorcycles
          </span>
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Motorcycle Name</th>
                <th scope="col">Motorcycle Type</th>
                <th scope="col">Engine Capacity</th>
                <th scope="col">Motorcycle Price</th>
                <th scope="col">Left in Stock</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <% products.map(function(value, key) { %>
              <tbody style="background: white">
                <td><%= key + 1 %></td>
                <td><%= value.productName %></td>
                <td><%= value.productCollection %></td>
                <td><%= value.productEngineCapasity %></td>
                <td><%= value.productPrice %></td>
                <td><%= value.productLeftCount %></td>
                <td>
                  <select class="spec-select new-product-status" id="<%= value._id %>">
                    <option value="PAUSE" <%= value.productStatus === "PAUSE" ? "selected": "" %> >PAUSE</option>
                    <option value="PROCESS" <%= value.productStatus === "PROCESS" ? "selected": "" %> >PROCESS</option>
                    <option value="DELETE" <%= value.productStatus === "DELETE" ? "selected": "" %> >DELETE</option>
                  </select>
                </td>
              </tbody>   
            <% }) %>
          </table>
          <div
            class="long-input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary" id="process-btn">
              New Motorcycle
            </button>
          </div>
        </div>
        <form
        onsubmit="return validateForm()"
          action="/admin/product/create"
          method="POST"
          class="dish-container"
          enctype="multipart/form-data"
        >
          <div class="long-input" style="display: flex; align-items: center">
            <span class="new-dish-txt">NEW MOTORCYCLE DETAIL</span>
          </div>
          <div class="login-input-frame">
            <div class="long-input">
              <label>Motorcycle Name</label>
              <input
                type="text"
                placeholder="Name"
                name="productName"
                class="product-name"
              />
            </div>
            <input
              name="productStatus"
              value="PAUSE"
              class="product-status"
              hidden
            />
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Motorcycle Price</label>
              <input
                type="number"
                placeholder="Price"
                name="productPrice"
                class="product-price"
              />
            </div>
            <div class="half-input">
              <label>Left in Stock</label>
              <input
                type="number"
                placeholder="Counts"
                name="productLeftCount"
                class="product-left-count"
              />
            </div>
          </div>
          <div class="half-input-frame">
            <div class="half-input">
              <label>Motorcycle Type</label>
              <select class="product-collection" name="productCollection">
                <option value="SportBikes" selected>Sport Bikes</option>
                <option value="CafeRacerBikes">CafeRacer Bikes</option>
                <option value="TouringBikes">Touring Bikes</option>
                <option value="ElectricMotorcycles">Electric Motorcycles</option>
                <option value="Scooters">Scooters</option>
              </select>
            </div>

            <div class="half-input" id="product-collection">
              <label> EngineCapacity</label>
              <select class="product-size" name="engineCapacity">
                <option value="125">Small</option>
                <option value="250" selected>Normal</option>
                <option value="500">Large</option>
                <option value="1000">Extra Large</option>
              </select>
            </div>
          </div>
          <div class="long-input">
            <label>Motorcycle Description</label>
            <textarea name="productDesc" class="product-desc"></textarea>
          </div>

          <div class="img-frame">
            <label>Motorcycle Description Images</label>
            <div class="media-frame">
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="1" id="image-section-1" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-one"
                  required
                  onchange="previewFileHandler(this, 1)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="2" id="image-section-2" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-two"
                  onchange="previewFileHandler(this, 2)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="3" id="image-section-3" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-three"
                  onchange="previewFileHandler(this, 3)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="4" id="image-section-4" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-four"
                  onchange="previewFileHandler(this, 4)"
                />
              </div>
              <div class="upload-img-box">
                <img src="/img/upload.svg" class="5" id="image-section-5" />
                <input
                  type="file"
                  id="file"
                  name="productImages"
                  class="image-five"
                  onchange="previewFileHandler(this, 5)"
                />
              </div>
              <input name="restaurantIid" class="restaurant-id" hidden />
            </div>
          </div>

          <div class="operation-buttons">
            <button class="btn btn-danger" id="cancel-btn">Cancel</button>
            <button type="submit" class="btn btn-primary" id="create-btn">
              Create
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/products.js"></script>
</body>

<%- include('includes/footer') %>
